useDynLib(VDA, .registration = TRUE)

export(vda, cv.vda, vda.r, cv.vda.r, vda.le, cv.vda.le)

import(rgl)

S3method("vda.r", "default")
S3method("vda.le", "default")
S3method("cv.vda.r", "default")
S3method("cv.vda.le", "default")
S3method("predict", "vda.r")
S3method("predict", "vda.le")
S3method("print", "vda.r")
S3method("print", "vda.le")
S3method("summary", "vda.r")
S3method("summary", "vda.le")
S3method("plot", "cv.vda.r")
S3method("plot", "cv.vda.le")




