useDynLib(VDA, .registration = TRUE)

export(VDA_R, cv.VDA_R, VDA_LE, cv.VDA_LE)

import(rgl)

S3method("VDA_R", "default")
S3method("VDA_LE", "default")
S3method("cv.VDA_R", "default")
S3method("cv.VDA_LE", "default")
S3method("predict", "VDA_R")
S3method("predict", "VDA_LE")
S3method("print", "VDA_R")
S3method("print", "VDA_LE")
S3method("summary", "VDA_R")
S3method("summary", "VDA_LE")
S3method("plot", "cv.VDA_R")
S3method("plot", "cv.VDA_LE")




